# Auto detect text files and perform LF normalization
* text=auto
* linguist-language=yaml
*.yaml linguist-detectable=true
# *.sh linguist-detectable=true
# *.md linguist-detectable=true
# *.py linguist-detectable=false
# *.ini linguist-detectable=true
# *.txt linguist-detectable=false
